<div class="food-menu">

  <table class="table-body">
      <thead>
          <th>Name</th>
          <th class="description">Description</th>
          <th>Price</th>
      </thead>

      <tbody>
        <% @items.each do |i| %>
          <tr>
              <td><%= i.name %></td>
              <td class="description"><%= i.description %></td>
              <td><%= number_to_currency(i.price) %></td>
          </tr>

        <% end %>
      </tbody>
  </table>
</div>

<div class="deluxe">
  <p style="font-weight: bold;">Original Fresh Buffalo Wings Served with Blue Cheese & Celery</p>
  <p>Make it a Platter with French Fries for $2.00 extra on 5 or 10 pcs only</p>
</div>

<div class="food-container">
  <div class="food buffalo1"></div>
  <div class="food buffalo2"></div>
  <div class="food buffalo3"></div>
</div>
