<div class="food-menu">

  <table class="table-body">
      <thead>
          <th>Name</th>
          <th class="description">Description</th>
          <th>Price</th>
      </thead>

      <tbody>
        <% @items.each do |i| %>
          <tr>
              <td><%= i.name %></td>
              <td class="description"><%= i.description %></td>
              <td><%= number_to_currency(i.price) %></td>
          </tr>

        <% end %>
      </tbody>
  </table>
</div>

<div class="deluxe">
  <p style="font-weight: bold;">Choice of White, Wheat, Rye, Seeded Bun, or Kaiser with Lettuce & Tomato</p>
</div>

<div class="food-container">
  <div class="food sandwiches1"></div>
  <div class="food sandwiches2"></div>
  <div class="food sandwiches3"></div>
</div>
