<div class="food-menu">

  <table class="table-body">
      <thead>
          <th>Name</th>
          <th class="description">Description</th>
          <th>Price</th>
      </thead>

      <tbody>
        <% @items.each do |i| %>
          <tr>
              <td><%= i.name %></td>
              <td class="description"><%= i.description %></td>
              <td><%= number_to_currency(i.price) %></td>
          </tr>

        <% end %>
      </tbody>
  </table>
</div>


<div class="food-container">
  <div class="food seafood1"></div>
  <div class="food seafood2"></div>
  <div class="food seafood3"></div>
</div>
