<div class="specials">

  <div class="everyday">

    <p class="specials-heading">EVERYDAY FAMILY SPECIALS</p>
    <div class="daily-specials">
      <p><span style="font-weight:bold">#1</span> Small Pizza, 1 Cheesesteak & French Fries <span style="color:red;font-weight:bold">$14.49</span></p>
      <p><span style="font-weight:bold">#2</span> Two 14" Cheese Pizzas <span style="color:red;font-weight:bold">$15.99</span></p>
      <p><span style="font-weight:bold">#3</span> One 16" Cheese Pizza, 16 Buffalo Wings, 2Ltr Soda <span style="color:red;font-weight:bold">$23.99</span></p>
      <p><span style="font-weight:bold">#4</span> Two 16" Cheese Pizza, 20 Buffalo Wings, 2Ltr Soda <span style="color:red;font-weight:bold">$34.99</span></p>
      <p><span style="font-weight:bold">#5</span> Two Cheesesteaks, 20 Buffalo Wings, 2 French Fries & 2Ltr Soda <span style="color:red;font-weight:bold">$34.99</span></p>
      <p><span style="font-weight:bold">#6</span> Two 14" Cheese Pizza, Two Cheesesteaks, 2 French Fries & 2Ltr Soda <span style="color:red;font-weight:bold">$37.99</span></p>
    </div>
  </div>


  <div class="lunch">

    <p class="specials-heading">LUNCH SPECIALS - 11am to 3pm</p>
    <div class="daily-specials">
      <p><span style="font-weight:bold">#1</span> Chicken Cheesesteak w/ French Fries <span style="color:red;font-weight:bold">$8.25</span></p>
      <p><span style="font-weight:bold">#2</span> Cheesesteak w/ French Fries <span style="color:red;font-weight:bold">$8.25</span></p>
      <p><span style="font-weight:bold">#3</span> Meatball Grinder w/ Fries or Small Chips <span style="color:red;font-weight:bold">$6.99</span></p>
      <p><span style="font-weight:bold">#4</span> Jr Steak Stromboli <span style="color:red;font-weight:bold">$5.75</span></p>
      <p><span style="font-weight:bold">#5</span> Jr Dimi Stromboli <span style="color:red;font-weight:bold">$6.25</span></p>
      <p><span style="font-weight:bold">#6</span> Cheeseburger w/ Fries and Can of Soda <span style="color:red;font-weight:bold">$6.49</span></p>
      <p>Free Can of Soda With Any Hoagie</p>
    </div>
  </div>
</div>

<div class="welcome-images">
  <div class="welcome1 images-border"></div>
  <div class="welcome2 images-border"></div>
  <div class="welcome3 images-border"></div>
  <div class="welcome4 images-border"></div>
  <div class="welcome5 images-border"></div>
</div>
