<div class="food-menu">

  <table class="table-body">
      <thead>
          <th>Name</th>
          <th class="description">Description</th>
          <th>Small 12"</th>
          <th>Large 16"</th>
      </thead>

      <tbody>
        <% @items.each do |i| %>
          <tr>
              <td><%= i.name %></td>
              <td class="description"><%= i.description %></td>
              <td><%= number_to_currency(i.price) %></td>
              <td><%= number_to_currency(i.price2) %></td>
          </tr>

        <% end %>
      </tbody>
  </table>
</div>


<div class="food-container">
  <div class="food steaks1"></div>
  <div class="food steaks2"></div>
  <div class="food steaks3"></div>
</div>
