.burgers1{
  background: image-url("bacon-cheeseburger.jpg");
}
.burgers2{
  background: image-url("burger.jpeg");
}
.burgers3{
  background: image-url("cheeseburger.jpg");
}

.deluxe {
    border-style: solid;
    border-color: green;
}

@media all and (min-width: 1024px){
  .deluxe{
    margin-left: 15%;
  }
}
