.chicken-steaks1{
  background: image-url("buffalo-chicken-cheesesteak.jpg");
}
.chicken-steaks2{
  background: image-url("chicken-cheesesteak-hoagie.jpg");
}
.chicken-steaks3{
  background: image-url("grilled-chicken-cheesesteak.jpg");
}
