
  .pizza1{
    background: image-url("pizza1.jpg");
  }
  .pizza2{
    background: image-url("pizza2.jpeg");
  }
  .pizza3{
    background: image-url("pizza3.jpg");
  }


  @media all and (min-width: 1024px){
    .toppings{
      margin-left: 15%;
    }
  }
