.sandwiches1{
  background: image-url("chicken-sandwich.jpeg");
}
.sandwiches2{
  background: image-url("tuna-salad-sandwich.jpg");
}
.sandwiches3{
  background: image-url("roast-beef-sandwich.jpg");
}
